html {
  overflow-y: scroll; /* Fuerza la barra de scroll */
}

body::-webkit-scrollbar {
  width: 0; /* Chrome y Safari */
}

.bg-color{
    background:  linear-gradient(30.09deg, #0d4582 0%, #0d4582 176.73%)  
}

.fixed-width {
    width: 9rem;
   
  }

.navbar-header{
    /* box-shadow: 1px 1px 1px 1px rgba(12, 12, 12, 0.2); */
    border-radius: 0.1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Tablas */

  th, td { 
    color: rgb(69, 71, 75)!important; 
 }
  
.position-values-1{
  position:absolute;
  top:10%;
  left:55%;
  z-index:0;
}
.position-values-2{
  position:absolute;
  bottom:10%;
  right: 10%;
  z-index:0;
 }
 .position-values-3{
  position:fixed;
  bottom: 5%;
  left: 1px;
  z-index:0;
 }
 .position-values-4{
  position:fixed;
  bottom: 5%;
  right: 1px;
  z-index:0;
 }