html {
  /* overflow-y: scroll; Fuerza la barra de scroll */
}
body{
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  width: 0; /* Chrome y Safari */
}

/*Color Institucional principal Modo Claro*/
.bg-color{
    /* background:  #0d4582; */
    /* background:  #36427f; */
    /* background: rgb(9 63 117); */
    background: rgb(0, 68, 133);    
    /* background: #0f69b4; */
}
/*Color Institucional principal Modo Oscuro*/
.bg-color-dark{
  background:  #1e3855  ;
}

.fixed-width {
    width: 9rem;   
  }

.nav{
  border-color: #2b3035;
  }
 

 /*Posicionamiento de imagenes decorativas*/
.position-values-1{
  position:absolute;
  top:10%;
  left:53%;
  z-index:0;
}
.position-values-2{
  position:absolute;
  top:40%;
  left: 53%;
  z-index:0;
 }
 .position-values-3{
  position:absolute;
  bottom: 10%;
  left: 53%;
  z-index:0;
 }
 .position-values-4{
  position:absolute;
  top: 10%;
  right: 4%;
  z-index:0;
 }
 .position-values-5{
  position:absolute;
  top: 40%;
  right: 4%;
  z-index:0;
 }
 .position-values-6{
  position:absolute;
  bottom: 10%;
  right: 4%;
  z-index:0;
 }
 .position-values-7{
  position:absolute;
  top: 30%;
  right: 21%;
  z-index:0;
 }
 .position-values-8{
  position:absolute;
  top: 4%;
  right: 21%;
  z-index:0;
 }

 .position-values-9{
  position:absolute;
  bottom: 18%;
  right: 21%;
  z-index:0;
 }

 .double-border {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, blue 50%,  red 50%);
  border-image-slice: 1;
}
 /* .position-values-3{
  position:absolute;
  bottom: 5%;
  left: 1px;
  z-index:0;
 }
 .position-values-4{
  position:fixed;
  bottom: 5%;
  right: 1px;
  z-index:0;
 } */

 .barra{
  position: absolute;
  top: 328px;
  right: 337px;
 }
 .azul{

  width: 31px;
  padding: 2px;
 }
 .rojo{

width: 36px;
padding: 2px;
 }

/*Color principal de fondo*/
 .darkModePrincipal {
  background-color: #30353a;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}
.darkModePrincipal .btn-close {
  filter: invert(1); /* Invierte el color del botón para hacerlo claro */
}
/*Bordes de todos los SweetAlert*/
.custom-border {
  border: 3px solid #62626296; /* Borde azul */
  border-radius: 10px; /* Bordes redondeados opcionales */ 
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    /* margin-left: -15rem; */
  }
}

.show {
  margin-left: 0 !important;
}

/* Ancho de canvas de firma*/
.signature-canvas {
  width: 100%;
  height: 10rem;
}

.card-hover:hover {
  /* transform: scale(1.04);  */
  /* transform: rotate(5deg); */
  /* transform: rotate(-3deg) scale(1.05); */
  transform: translateY(-6px);
  transition: transform 0.2s ease-in-out; 
  background-color: #8c8c8c; 
}

/*Scroll Paginador cuando se exceda la cantidad de items a mostrar*/
.paginador-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

.paginador-scroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.4rem;
  max-height: 150px;
  overflow-y: auto;
  padding: 1rem;
}

.paginador-container::-webkit-scrollbar {
  height: 6px;
}

.paginador-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.paginador-container::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.page-item .page-link {
  background: #6c757dc2;
  color: white;
  border: 1px #6c757dc2 solid;
  border-radius: 4px;
}

.custom-modal {
  width: 100vh; /* Ancho personalizado */
  margin: 0 auto; /* Centrado horizontal */
}


/*--------Boton Estado------------*/
.estado-btn {
  position: relative;
  overflow: hidden;
}

.estado-btn:hover .estado-label {
  display: none;
}

.estado-btn:hover .estado-hover {
  display: inline-flex;
}

/*---------------Mobile------------*/
 .mobile-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050; 
  margin: 0;
} 

