
.nav-item:hover {  
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(16, 16, 16, 0.12);
 }
.nav-item.active {
  transform: scale(1.05);
  /* background-color: rgba(205, 31, 31, 0.2); */
 
}

/*---------------------------------------------------------*/

/* Estilos base del sidebar */
.sidebar-container {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
   /* transition: all 0.5s ease-in; */
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
   height: 100vh;  
     z-index: 1050; /* Encima del overlay */  
    
}

.sidebar-expanded {
  width: 250px;  

}

.sidebar-collapsed {
  width: 60px;     
}

/* Ocultar texto cuando está colapsado */
.sidebar-collapsed .nav-item p {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

/* Centrar iconos cuando está colapsado */
.sidebar-collapsed .nav-item {
  justify-content: center;
 
}

/* Ajustar padding cuando está colapsado */
.sidebar-collapsed .nav-item {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

