.skeleton-loader {
    height: 20px;
    width: 100%;
    background-color: #e0e0e0;
    animation: pulse 1.5s infinite ease-in-out;
  }
  .skeleton-table{
    max-height: 500px;
    overflow-y: auto;
  }
   
  @keyframes pulse {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }